doctype html
html
    head
        link(rel='stylesheet' href='/css/newuser.css' type="text/css")
        link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Merriweather|Poppins&display=swap')
        title User Manager
    body
        .mainContainer
            .top
                .containerTitle Create a User
            .middle
                form.container(action="/addUser" method="post")
                    p.inputLabel First Name:
                    input.userInput(type='text' id='FirstName' name='FirstName' placeholder='First Name')

                    p.inputLabel Last Name:
                    input.userInput(type='text' id='LastName' name='LastName' placeholder="Last Name")

                    p.inputLabel Email Address:
                    input.userInput(type='email' id='Email' name='Email' placeholder='Email Address')

                    p.inputLabel Birthday:
                    input.userInput(type='text' id='Birthday' name='Birthday' placeholder='Birthday')

                    p.inputLabel Password: 
                    input.userInput(type='text' id='Password' name='Password' placeholder='Password')

                    button.inputSubmit(type='submit' name='Create' value='Create') Create User

                    button.inputSubmit(type='submit' name='Update' value='Update') Update User

                    button.inputSubmit(type='button' name='Search' value='Search') Search For User

            .bottom
    script(src='/scripts/users.js')