doctype html
html
    head
        link(rel='stylesheet' href='/css/newuser.css' type="text/css")
        link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Merriweather|Poppins&display=swap')
        title User Manager
    body
        .mainContainer
            .top
                .containerTitle Users
            .middle

            .bottom